[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
captum = "*"
flask-cors = "*"
torch = "*"
transformers = "*"
pandas = "*"
nltk = "*"
numpy = "*"
scikit-learn = "*"
zeugma = "*"

[dev-packages]

[requires]
python_version = "3.11"
