<h1>Reset your password</h1>
<h2>Hi {{firstName}},</h2>
<p>You recently requested to reset your password for your account. Click the link below to reset it.</p>
{{link}}
<p>Or use the code below instead</p>
<b>{{token}}</b>
</p>If you did not request a password reset, please ignore this email or reply to let us know. This password reset is only valid for the next 24 hours.</p>